* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.product {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.product .left-sidebar {
  border-right: solid 1px crimson;
}

.product .left-sidebar .sidebar-content {
  padding: 20px 30px;
}

.product .product-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -20px;
  text-align: center;
}

.product .product-list .product-item {
  width: calc(100% / 4 - 20px);
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product .product-list .product-item .product-content {
  border: solid 2px crimson;
  border-radius: 15px;
  padding: 20px;
}

.product .product-list .product-item .product-content:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.product .product-list .product-item .product-image img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product .product-list .product-item .product-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product .product-list .product-item .product-info h4 {
  font-size: 18px;
  padding: 0 5px;
  margin-top: 0;
}

.product .product-list .product-item .product-info .product-name {
  color: crimson;
}

.product .product-list .product-item .product-info .product-price {
  font-style: italic;
}

.product .product-list .product-item .btn {
  width: 100%;
}

.product .product-list .product-item .btn button {
  width: 100%;
  padding: 10px;
  background: crimson;
  border: 1px solid gray;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .product-list .product-item .btn button:hover {
  background-color: #fff;
  color: crimson;
}

.cart #tblGioHang .td-img {
  text-align: center;
}

.cart #tblGioHang img {
  width: 100px;
}

.cart #tblGioHang span {
  margin-right: 20px;
}

.cart #tblGioHang button {
  background-color: white;
  cursor: pointer;
}

.cart #tblGioHang button:hover {
  color: crimson;
  border: solid 2px crimson;
}

.payment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 10% 20%;
      grid-template-columns: 70% 10% 20%;
  margin: 50px 0;
}

.payment .pay-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.payment .pay-money {
  color: crimson;
  font-size: 22px;
  font-weight: bold;
}

.payment .pay-btn {
  margin-top: -10px;
}

.payment .pay-btn .btn {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */