$main-color : crimson;

$text-base: 16px;
$text-md: 18px;
$text-lg: 22px;


* {
  box-sizing: border-box;
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

// List Product
.product {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 20% 80%;

  .left-sidebar {
    border-right: solid 1px $main-color;

    .sidebar-content {
      padding: 20px 30px;
    }
  }
  .product-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -20px;
    text-align: center;

    .product-item {
      width: calc(100% / 4 - 20px);
      overflow: hidden;
      margin-left: 20px;
      margin-bottom: 20px;

      .product-content {
        border: solid 2px $main-color;
        border-radius: 15px;
        padding: 20px;
      }
      .product-content:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

      .product-image img {
        width: 100%;
        transition: 0.4s;
      }
      .product-image img:hover {
        transform: scale(1.1);
      }
      .product-info {
        h4 {
          font-size: $text-md;
          padding: 0 5px;
          margin-top: 0;
        }
        .product-name {
          color: $main-color;
        }
        .product-price {
          font-style: italic;
        }
      }
      .btn {
        width: 100%;
        button {
          width: 100%;
          padding: 10px;
          background: $main-color;
          border: 1px solid gray;
          outline: none;
          color: white;
          cursor: pointer;
          font-size: 20px;
          border-radius: 5px;
          transition: 0.5s;
        }
        button:hover {
          background-color: #fff;
          color: $main-color;
        }
      }
    }
  }
}

// List Cart
.cart {
  #tblGioHang {
    .td-img {
      text-align: center;
    }
    img {
      width: 100px;
    }
    span {
      margin-right: 20px;
    }
    button {
      background-color: white;
      cursor: pointer;
    }
    button:hover {
      color: $main-color;
      border: solid 2px $main-color;
    }
  }
}

// Payment
.payment {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  margin: 50px 0;
  .pay-title{
    display: flex;
    justify-content: flex-end;
  }
  .pay-money{
    color: $main-color;
    font-size: $text-lg;
    font-weight: bold;
  }
  .pay-btn{
      margin-top: -10px;
      .btn{
          width: 100%;
      }
  }
  
}
